html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: white;
 }
 
 .container {
    text-align: center;
 }
 
 #main-title {
    font-size: 36px;
    margin-bottom: 0;
 }
 
 p {
    font-size: 24px;
    margin-top: 0;
 }